img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('../img/evea.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-dark {
  background-color: #121212!important;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.card-style {
  max-width: 3000%;
}
footer.footer-custom {
  position:fixed;
  width:100%;
  bottom:0;
  background-color: #3e7aae !important;
}
