.profile-page{
    background-position: center;
  
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.customFriendList {
    overflow:hidden;
    height:12rem;

}
.customFriendList li{
    list-style:none;
    display:inline-block;
    width: 12rem;
}

.profile-page .profile  {
    text-align:center;
}
.friendAvtar,
.profile .avtar {
    width: 16rem;
    max-height: 18rem;
    overflow: hidden;
    cursor: pointer;
  }
 
.friendAvtar .avtarImg, 
.profile .avtar .avtarImg {
    width: 16rem;
    height: 16rem;
    background-size: 100%;
    background-position: center;
    border-radius: 140px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.friendAvtar {
    width: 12rem;
    max-width: 12rem;
    max-height: 12rem;
}
.friendAvtar .avtarImg {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}
