.profile-page{
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-page .profile  {
    text-align:center;
}
.profile .avtar {
    max-width: 15rem;
    max-height: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    margin:auto;
  }
.profile .avtar .avtarImg {
    width: inherit;
    min-height: inherit;
    min-width: inherit;
    background-size: contain;
    background-position: center;
    border-radius: 132px;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: inherit;
}
.friend-profile .avtar {
    overflow: hidden;
    cursor: pointer;
    max-width: 15rem;
    max-height: 15rem;
    min-width: 12rem;
    min-height: 12rem;
    /* position: absolute;
    right: 0;
    bottom: -58px;
    left: 0; */
    margin: auto;
  }
 
.friend-profile .avtar .avtarImg {
    width: inherit;
    min-height: 12rem;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: inherit;
}
/* .profile .name .title {
    font-size: 2vw;
}
.description p.text-capitalize {
    font-size: 1.3vw;
}
.profile-content .row h6 {
    font-size: 1.2vw;
} */

/* Custom Frineds*/
/* .customFriendList {
    overflow:hidden;
    height:9rem;
} */
/* .customFriendList {
    list-style:none;
    display:inline-block;
    width: 12rem;
} */
.customFriendList .card{
    max-height: 15rem;
}
.customFriendList  .friendAvtar .avtarImg {
    width: inherit;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 132px;
}
.customFriendList  .friendAvtar { 
    width: 5rem;
    height: 5rem;
}

.customFriendList  .friendAvtar .avtarImg {
    width: inherit;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 132px;
}
/* Friend Request*/
.friendAvtar {
    max-width: 12rem;
    max-height: 12rem;
}
.friendRequestList  li .friendAvtar .avtarImg {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.friendRequestList  .profile .avtar .avtarImg {
    width: 16rem;
    height: 16rem;
    background-size: 100%;
    background-position: center;
    border-radius: 140px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/* Update Profile*/
.updateProfile {
    border-style: inset;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60vh;
    width: 75vw;
    overflow: scroll;
}
