.sticky-container.navbar{
    position: absolute;
    width:100%;
  }

.navbar-inner{
  background:transparent;
}


  @media (min-width: 576px) {
    .form-inline .form-control#Search {
    display:none;
  }
}