.navbar {
  padding:0.2rem 1rem !important;
}
.sticky-container.navbar{
    position: absolute;
    width:100%;
  }
  @media (min-width: 576px) {
    .form-inline .form-control#Search {
    display:none;
  }
}